global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 1024
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  tcplog
    option  dontlognull
    retries 3
    option  redispatch
    maxconn 1024
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen mariadb_cluster_writes 0.0.0.0:{{ mysql_port }}
## A failover pool for writes to ensure writes only hit one node at a time. 
    mode tcp
    option httpchk 
    server galera-node01 {{ dbhost1_ip }}:3306 check port 9200
    server galera-node02 {{ dbhost2_ip }}:3306 check port 9200
    server galera-node03 {{ dbhost3_ip }}:3306 check port 9200

listen stats 0.0.0.0:9000
## HAProxy stats web gui.
	mode http
	stats enable
	stats uri /haproxy_stats  
	stats realm HAProxy\ Statistics 
	stats auth haproxy:haproxy
	stats admin if TRUE
