[Unit]
Description=Seafile Seahub
After=network.target remote-fs.target nss-lookup.target seafile.service
[Service]
ExecStart={{ deploy_path }}/seafile-server-latest/seahub.sh start
ExecStop={{ deploy_path }}/seafile-server-latest/seahub.sh stop
User=root
Group=root
Type=oneshot
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
